@charset "UTF-8";

/* 回答はここに書いてね */

/* box */
.box__inner {
  width: 940px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #eff3f4;
}

.box__img--balloon {
  float: left;
  margin: 0 20px 10px 0;
}

.box__img--light {
  float: right;
  margin: 0 0 10px 20px;
}

.box__text {
  font-size: 18px;
  line-height: 22px;
  /* 文字に関係なく折り返し無効 */
  word-break: break-all;
}

/* 回答はここに書いてね */
