@charset "UTF-8";
/* 回答はここに書いてね */

/* 共通 */
.common {
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

/* float */
.float__text {
  float: left;
  margin-left: 50px;
}

.float__text:first-child {
  margin-left: 0;
}

/* table */
.table {
  display: table;
}

.cell {
  display: table-cell;
  padding-left: 50px;
}

.cell:first-child {
  padding-left: 0;
}

.vertical-middle {
  vertical-align: middle;
}

/* inline-block */
.inline-block {
  /* 謎余白対策 */
  letter-spacing: -0.4em;
}

.inline-block__child {
  display: inline-block;
  vertical-align: middle;
  /* 謎余白対策 */
  letter-spacing: normal;
  margin-left: 50px;
}

.inline-block__child:first-child {
  margin-left: 0;
}

/* flex */
.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

/* ネガティブmargin */
.margin__block {
  vertical-align: top;
  display: inline-block;
}

.margin__text {
  font-size: 16px;
}

.margin__stable {
  width: 300px;
}

.margin__flexible {
  width: 100%;
  box-sizing: border-box;
  margin-left: -305px;
  padding-left: 350px;
}
/* 回答はここに書いてね */
