@charset "UTF-8";
* {
  outline: 1px solid blue;
}
/* 回答はここに書いてね */
/* 共通 */
.common {
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

/* float */
.float__text {
  float: left;
}
.float__text:first-child {
  /* 他の要素が横に来ても同じだけの余白が空くから */
  margin-right: 50px;
}

/* table */
.table {
  display: table;
}
.cell {
  display: table-cell;
}
.cell:first-child {
  vertical-align: middle;
  padding-right: 25px;
}
.cell:last-child {
  padding-left: 25px;
}

/* inline-block */
.inline-block {
  /* inline-block横並びでできる謎余白対策 */
  font-size: 0;
}
.inline-block__child {
  display: inline-block;
  vertical-align: middle;
}
.inline-block__child:first-child {
  margin-right: 50px;
}

/* flex */
.q7--flex__inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

/* margin */
.q7--margin__left,
.q7--margin__right {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.q7--margin__left {
  width: 300px;
}
.q7--margin__right {
  width: 100%;
  /* 左幅と間隔 */
  padding-left: 350px;
  margin-left: -305px;
}
/* 回答はここに書いてね */
