@charset "UTF-8";

/* 回答はここに書いてね */

/* q4__content */
.q4__content {
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}

/* q4__table */
.q4__table {
  width: 100%;
  display: table;
}

.q4__table:first-child {
  margin-bottom: 20px;
}

/* 色付きブロック */
.q4__block {
  padding: 20px 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.skin {
  background-color: #fdc8b8;
  width: 100px;
}

.purple {
  background-color: #e0abd9;
}

.aqua {
  background-color: #b6d8ed;
  width: 100px;
}

.yellow {
  background-color: #e5d32e;
}

.pink {
  background-color: #ec8f9a;
}

.green {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
