@charset "UTF-8";

/* 回答はここに書いてね */
.q9__content {
  border: solid 5px #222;
  border-radius: 30px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  position: relative;
}

/* 吹き出し共通 */
.q9__content::before,
.q9__content::after {
  content: '';
  position: absolute;
  border: solid transparent 25px;
}

/* 吹き出し本体 */
.q9__content::before {
  bottom: -50px;
  left: 25px;
  border-top-color: #222;
}

/* 上から重ねる白 */
.q9__content::after {
  bottom: -43px;
  left: 25px;
  border-top-color: #fff;
}

.q9__text {
  font-size: 16px;
  line-height: 16px;
}
/* 回答はここに書いてね */
