@charset "UTF-8";

/* 回答はここに書いてね */

/* align & margin */
.align__wrapper {
  text-align: center;
}
.align__text {
  display: inline-block;
  padding: 10px;
}

.align__text,
.margin__text {
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px 0;
}

.margin__text {
  margin: 0 auto;
  /* 文字が右寄りになるので中央寄せ */
  text-align: center;
}

/* table */
.table {
  display: table;
}

.table__cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.table__text {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}

/* flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__text {
  background-color: #fff;
  padding: 10px;
}

/* position */
.stable,
.flexible {
  position: relative;
}

/* 固定 */
.stable__text {
  position: absolute;
  /* 値がauto以外なため */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* 可変 */
.flexible__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* 回答はここに書いてね */
