@charset "UTF-8";

/* 回答はここに書いてね */
/* transition */
.q8__content {
  margin: 0 auto;
  position: relative;
  /* 画像のはみ出し防止 */
  overflow: hidden;
  width: 500px;
  height: 333px;
  cursor: pointer;
}

.q8__content:hover .q8__img {
  transform: scale(1.5);
}

.q8__content:hover .q8__text-box {
  bottom: 0;
}

.q8__img {
  transition: 0.5s all;
}

.q8__text-box {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  /* 背景色を親要素に付与しないと画像いっぱいにつかない */
  height: 100%;
  transition: 0.5s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.q8__text {
  padding: 20px;
  position: absolute;
  bottom: 0;
  line-height: 16px;
  transition: 0.5s;
  color: #fff;
  box-sizing: border-box;
  /* 表示範囲に合わせて改行される */
  word-break: break-all;
}

/* animation */
.loader {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-top: 10px solid #00bcd4;
  border-right: 10px solid #ecf1f2;
  border-bottom: 10px solid #ecf1f2;
  border-left: 10px solid #ecf1f2;
  /* linearをつけることで開始から終了まで一定に変化する */
  animation: load8 linear 1.1s infinite;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 回答はここに書いてね */
